<table>
	
<tr>
	<td>
		Amar pay To Akbar

	</td>
	<td>
		<%=@amarpaytoakbar%>
	</td>
 
	<td>
		Amar pay To Anthony

	</td>
	<td>
		<%=@amarpaytoanthony%>
	</td>
</tr>
<tr>
	<td>
		Akbar pay To Amar

	</td>
	<td>
		<%=@akbarpaytoamar%>
	</td>
	<td>
		Akbar pay To Anthony

	</td>
	<td>
		<%=@akbarpaytoanthony%>
	</td>

</tr>

<tr>
	<td>
		Anthony pay To Amar

	</td>
	<td>
		<%=@anthonypaytoamar%>
	</td>
	<td>
		Anthony pay To Akbar

	</td>
	<td>
		<%=@anthonypaytoakbar%>
	</td>

</tr>

</table>